<ul class="navigation">
	<li {% if page.category == 'Home' %} class="current" {% endif %}><a href="{{ site.baseurl }}/index.html">Home</a></li>
	<li><a href="{{ site.baseurl }}/index.html#demos">Demos</a></li>
	<li {% if page.category == 'Documentation' %} class="current" {% endif %}><a href="{{ site.baseurl }}/documentation">Documentation</a></li>
	<li><a href="https://github.com/dgrundel/tripod.js/zipball/master">Download .zip</a></li>
	<li><a href="https://github.com/dgrundel/tripod.js/tarball/master">Download .tar.gz</a></li>
	<li><a href="https://github.com/dgrundel/tripod.js">Github</a></li>
</ul>