---
layout: default
category: Documentation
---

<div class="container">
	<div class="row">
		<div class="four columns">
			<h4>All Documentation</h4>
			<ul class="side navigation">
				<li><a href="{{ site.baseurl }}/documentation">Quick Start</a></li>

				<li><a href="{{ site.baseurl }}/documentation/the-instance.html">The Tripod Instance</a></li>
				
				<li><a href="{{ site.baseurl }}/documentation/getting-and-storing-data-in-the-instance.html">Getting and Storing Data in the Instance</a></li>

				<li><a href="{{ site.baseurl }}/documentation/data-binding-and-the-dom.html">Data binding and the DOM</a></li>

				<li><a href="{{ site.baseurl }}/documentation/namespaces.html">Namespaces</a></li>

				<li><a href="{{ site.baseurl }}/documentation/using-binding-modifiers.html">Using Binding Modifiers</a></li>

				<li><a href="{{ site.baseurl }}/documentation/get-load-push-sync-all.html">getAll, loadAll, pushAll, syncAll</a></li>
				
				<li><a href="{{ site.baseurl }}/documentation/node-properties-used-for-data-binding.html">Node Properties Used for Data Binding</a></li>

				<li><a href="{{ site.baseurl }}/documentation/more-examples.html">More Examples</a></li>
			</ul>
		</div>

		<div class="eight columns">
			<h2>{{ page.title }}</h2>

			{{ content }}
	
		</div>
	</div>
</div>