---
layout: default
category: Documentation
---

<div class="container">
	<div class="row">
		<div class="four columns">
			<h4>All Documentation</h4>
			<ul class="side navigation">
				{% for link in site.documentationLinks %}
					<li {% if page.title == link[0] %} class="current" {% endif %}>
						<a href="{{ site.baseurl }}{{ link[1] }}">{{ link[0] }}</a>
					</li>
				{% endfor %}
			</ul>
		</div>

		<div class="eight columns">
			<h2>{{ page.title }}</h2>

			{{ content }}
	
		</div>
	</div>
</div>